<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Pipesine", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="background justify-items-stretch">
    <div class="dotgothic16">
      <nav class="menuright">
        <PipesineWeb.Components.link href="/about">:about</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/ethos">:ethos</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/technique">:technique</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/label">:label</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/compositions">:compositions</PipesineWeb.Components.link>
        <a class=""><%= render "_composer_menu.html", assigns %></a>
      </nav>
    </div>
    <div>
    </div>
        <p class="semanticversion scaled">&emsp;%{version: 0.1.0}</p><div class="timestamp"><%= "# {:erlang.timestamp}" %><%= Tuple.to_list(:erlang.timestamp) |> Enum.map(fn each -> Integer.to_string(each) end) %></div>
        <a href="/">
          <p class="dotgothic16 xxlfont title">P I P E S I N E S</p>
        </a>
    <%= @inner_content %>
    <div>
      <img class="imgfilter" src="/images/sinewave.gif">
      <img class="imgfilter2" src="/images/sinewave.gif">
      <img class="imgfilter18" src="/images/sinewave.gif">
      <img class="imgfilter4" src="/images/sinewave.gif">
      <img class="imgfilter5" src="/images/sinewave.gif">
      <img class="imgfilter6" src="/images/sinewave.gif">
      <img class="imgfilter7" src="/images/sinewave.gif">
      <img class="imgfilter8" src="/images/sinewave.gif">
      <img class="imgfilter9" src="/images/sinewave.gif">
      <img class="imgfilter13" src="/images/sinewave.gif">
      <img class="imgfilter12" src="/images/sinewave.gif">
      <img class="imgfilter11 zbottom" src="/images/sinewave.gif">
      <img class="imgfilter3" src="/images/sinewave.gif">
      <img class="imgfilter8" src="/images/sinewave.gif">
      <img class="imgfilter15" src="/images/sinewave.gif">
      <img class="imgfilter16" src="/images/sinewave.gif">
      <img class="imgfilter10 zbottom" src="/images/sinewave.gif">
      <img class="imgfilter17" src="/images/sinewave.gif">
    </div>
  </body>
  <p class="footer scaled">elegantly <a href="https://elixir-lang.org/">:elixir </a>, + <a href="https://tonejs.github.io/">:tone.js</a></p>
</html>
