<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Pipesine", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="background justify-items-stretch">
    <div class="dotgothic16">
      <nav class="menuright">
        <PipesineWeb.Components.link href="/instructions">instructions.</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/compositions">compositions.</PipesineWeb.Components.link>
        <PipesineWeb.Components.link href="/manifesto">on computing/music.</PipesineWeb.Components.link>
        <a class=""><%= render "_composer_menu.html", assigns %></a>
      </nav>
    </div>
    <div>
    </div>
        <a href="/">
          <p class="dotgothic16 xxlfont title">p i p e _ s i n e s</p><p class="titleright scaled">code to music to.</p>
        </a>
    <%= @inner_content %>
  </body>
  <p class="footer scaled">elegantly <a href="https://elixir-lang.org/">:elixir </a>, + <a href="https://tonejs.github.io/">:tone.js</a></p>
</html>
