<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Pipesine", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="background">
    <header class="background">
      <section>
        <a href="#">
          <img src={Routes.static_path(@conn, "/images/pipesine_logo_copy.png")} alt="faek logo" width="400" height="200"/>
          <p class="alata">PIPE/SINES. Code to music to.</p>
        </a>

      </section>
    </header>

    <%= @inner_content %>
  </body>
  <footer class="footer sharetechmono"><a href="https://tonejs.github.io/">SOUND SOURCE</a>/<a href="https://elixir-lang.org/">CODE SOURCE</a></footer>
</html>
