<h1>resend confirmation instructions</h1>

<.form let={f} for={:composer} action={Routes.composer_confirmation_path(@conn, :create)}>
  <p class="vt323"><%= label f, :email %></p>
  <%= email_input f, :email, required: true %>

  <div class="vt323">
    <%= submit "resend confirmation instructions" %>
  </div>
</.form>

<p class="vt323">
  <%= link "register", to: Routes.composer_registration_path(@conn, :new) %> |
  <%= link "log in", to: Routes.composer_session_path(@conn, :new) %>
</p>
