<h1>instructions for use</h1>
<ul>

  <li class="dotgothic16">
    <strong>score:</strong>
    <%=  %>
  </li>

</ul>

<span><%= live_redirect "back", to: Routes.pipesine_path(@socket, :index), class: "button"  %></span>
