/* This file is for your main application CSS */
@import "./phoenix.css";


@font-face {
  font-family: Alata;
  src: url('../fonts/Alata-Regular.ttf');
}

@font-face {
  font-family: VT323;
  src: url('../fonts/VT323-Regular.ttf');
}

@font-face {
  font-family: Krub;
  src: url('../fonts/Krub-Regular.ttf');
}

@font-face {
  font-family: KrubSemiBoldItalic;
  src: url('../fonts/Krub-SemiBoldItalic.ttf');
}

@font-face {
  font-family: DotGothic16;
  src: url('../fonts/DotGothic16-Regular.ttf');
}

@font-face {
  font-family: Kodchasan;
  src: url('../fonts/Kodchasan-MediumItalic.ttf');
}

@font-face {
  font-family: KodchasanSemiBoldItalic;
  src: url('../fonts/Kodchasan-SemiBoldItalic.ttf');
}

.sharetechmono {
  font-family: 'Share Tech Mono', monospace;
  color: white;
}

.alata {
  font-family: 'Alata';
}

.kodchasan {
  font-family: 'Kodchasan';
}

.kodchasansemibolditalic {
  font-family: 'KodchasanSemiBoldItalic';
}

.krub {
  font-family: 'Krub';
}

.krubsemibolditalic {
  font-family: 'KrubSemiBoldItalic';
}

.dotgothic16 {
  font-family: 'DotGothic16';
}

.vt323 {
  font-family: 'VT323';
}

.xxlfont {
  font-size: 4rem;
}

.menu {
  display: inline-block;
  padding-right: 8px;
  padding-top: 4px;
}

.menuright {
  position: fixed;
  padding-left: 1180px;
  font-size: 105%;
  white-space: normal;
  flex: initial;
}

.modaldesign {
  color: #EFD9CE;
  font-family: 'dotgothic16'
}

.usermenu {
  white-space: normal;
}

.versions {
  display: inline-block;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'DotGothic16';
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.actions {
  margin-left: 400px;
}

.background {
  background: url("/images/dotgrid-23G12-693820.svg"), url("/images/dotgrid-23G12-703496.svg"), linear-gradient(.75turn, #CB9CF2, 83%, #1A002F);
  /* background: url("/images/dotgrid-23G12-693820.svg"), url("/images/dotgrid-23G12-703496.svg"), linear-gradient(.75turn, #DEC0F1, 80%, #1A002F); */
  /* background: #000000; */
  /* background: #EFD9CE; */
  background-blend-mode: soft-light;
  background-size: 104%;
}

.coded {
  background-color: #7161EF;
}
.filtered {
  filter: hue-rotate(-0.75turn);
}
/* background: url("/images/pipesine_logo_main.png"), url("/images/dotgrid-23G12-703496.svg"), #CB9CF2; */
/* .menu {
  position: absolute;
  margin-left: 50px;
  top: 20px;
  width: 100%;
  text-align: right;
  font-size: 125%;
} */
.footer {
  position: fixed;
  margin-right: 50;
  bottom: 0;
  width: 185%;
  text-align: center;
  font-family: 'dotgothic16';
  font-size: 120%;
}

.imgfilter {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -75px;
  margin-left: 1350px;
  scale: 40%;
}

.imgfilter2 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -25px;
  margin-left: 1250px;
  scale: 90%;
}

.imgfilter3 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -75px;
  margin-left: 1600px;
  scale: 70%;
}

.imgfilter4 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -125px;
  margin-left: 1200px;
  scale: 50%;
}

.imgfilter5 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -175px;
  margin-left: 1450px;
  scale: 60%;
}

.imgfilter6 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -325px;
  margin-left: 1250px;
  scale: 30%;
}

.imgfilter7 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -275px;
  margin-left: 1450px;
  scale: 30%;
}

.imgfilter8 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -325px;
  margin-left: 1500px;
  scale: 20%;
}

.imgfilter9 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -375px;
  margin-left: 1450px;
  scale: 10%;
}

.imgfilter10 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -125px;
  margin-left: 1100px;
  scale: 83%;
}

.imgfilter11 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -175px;
  margin-left: 1050px;
  scale: 60%;
}

.imgfilter12 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -100px;
  margin-left: 1350px;
  scale: 15%;
}

.imgfilter13 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -225px;
  margin-left: 1325px;
  scale: 35%;
}

.imgfilter14 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -100px;
  margin-left: 575px;
  scale: 160%;
}

.imgfilter15 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -475px;
  margin-left: 1325px;
  scale: 10%;
}

.imgfilter16 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -175px;
  margin-left: 1425px;
  scale: 45%;
}

.imgfilter17 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(0deg);
  margin-top: -25px;
  margin-left: 1350px;
  scale: 35%;
}

.imgfilter18 {
  mix-blend-mode: color-dodge;
  filter: invert(1);
  transform: rotate(180deg);
  margin-top: -85px;
  margin-left: 1850px;
  scale: 165%;
}

.inputcolor {
  font-color: #DEC0F1;
}

.shrink {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  position: fixed;
}

.scaled {
  transform: scale(0.65);
}

.title {
  margin-left: 25px;
  margin-right: 0px;
  margin-top: 10px;
  font-size: 435%;
  display: inline-block;
  white-space: nowrap;
}

.title-decorate {
  margin-left: 80px;
  margin-right: 25px;
  font-size: 500%;
  font-family: 'dotgothic16';
  display: inline-block;
  white-space: nowrap;
  text-decoration: wavy;
  text-decoration: overline;
}

.titleright {
  margin-left: 0px;
  margin-top: 30px;
  display: inline-block;
  font-family: 'dotgothic16';
  font-size: 140%;
  font-color: #957FEF;
}

.semanticversion {
  float: left;
  margin-left: -30px;
  margin-right: -140px;
  margin-top: -10px;
  font-family: 'dotgothic16';
  font-size: 140%;
  font-color: #957FEF;
}

.zbottom {
  z-index: -1;
  position: relative;
}

h1 {
  font-family: 'Krub';
}

h3 {
  font-family: 'Krub';
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

hr {
  position: sticky;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  right: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.phx-modal-content {
  background-color: #957FEF; 
  font-size: 125%;
  color: #EFD9CE;
  margin: 15vh auto;
  padding: 32px;
  border: 2px solid #EFD9CE;
  width: 50%;
  font-family: 'Krub';
  text-align: justify;
  /* box-shadow: 0px 0px 4px 4px #DEC0F1; */
  /* box-shadow: 60px -90px 200px 20px #957FEF, -3em 0.4em 200px 20px #DEC0F1, -2em 4em 200px 20px #CB9CF2; */
}

.phx-modal-close {
  color: #EFD9CE;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: #7161EF;
  text-decoration: none;
  cursor: pointer;
}


.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

:hover {
  text-decoration: none black;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #957FEF;
  font-family: 'Krub';
  color: #EFD9CE;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;
  border: 1px solid #EFD9CE;
  position: absolute;
  bottom: 50%;
  left: 10%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
