/* This file is for your main application CSS */
@import "./phoenix.css";


@font-face {
  font-family: Alata;
  src: url('../fonts/Alata-Regular.ttf');
}

@font-face {
  font-family: VT323;
  src: url('../fonts/VT323-Regular.ttf');
}

.sharetechmono {
  font-family: 'Share Tech Mono', monospace;
  color: white;
}

.alata {
  font-family: 'Alata';
}

.vt323 {
  font-family: 'VT323';
}

.xxlfont {
  font-size: 4rem;
}

.menu {
  display: inline-block;
  padding-right: 8px;
}

.menuright {
  padding-left: 1400px;
  font-size: 120%;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.background {
  background-color: #CB9CF2;
  background: url("/images/pipesine_logo_shadow.png"), #CB9CF2;
  background-blend-mode: luminosity;
}

/* .menu {
  position: absolute;
  margin-left: 50px;
  top: 20px;
  width: 100%;
  text-align: right;
  font-size: 125%;
} */
.footer {
  position: fixed;
  margin-right: 50;
  bottom: 0;
  width: 185%;
  text-align: center;
  font-family: 'vt323';
  font-size: 150%;
  /* font-color: white; */
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'vt323';
  font-size: 150%;
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shrink {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  position: fixed;
}

.scaled {
  transform: scale(0.75);
  /* Equal to scaleX(0.7) scaleY(0.7) */
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}